examen-arso/ejercicios/xml/Schema_Generated1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="poema" type="poema"/>

  <xs:complexType name="poema">
    <xs:sequence>
      <xs:element name="titulo" type="xs:string" minOccurs="0"/>
      <xs:element name="verso" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="fecha" type="xs:string"/>
    <xs:attribute name="lugar" type="xs:string"/>
  </xs:complexType>
</xs:schema>

